body {
	background: #f5fffa;
	font-family: Arial, "Book Antiqua","Calibri Light",Cambria,Candara,"Century Gothic",Arial, Andalus, sans-serif;	
	color: #007;
}

#container {	
	width: 1000px;
	margin: 0 auto;
	background: #e6e6fa;
	padding: 20px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

header {
	width: 990px;
	background: url("/images/silk_fabric1.png") no-repeat;
	text-align: center;
	color: #e6e6fa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px 0;
}

@media screen {
	@font-face {
		font-family: myFirstFont;
		src: url("/fonts/BaroqueScript.ttf");
	}
}

h1 {
	font-family: myFirstFont, Gabriola, "Lucida Calligraphy", "Monotype Corsiva", Pristina, "Script MT Bold", Vivaldi, "Annabel Script", "Brush Script MT", "French Script MT", sans-serif;
	font-size: 3em; 
	margin: 0;
}

#contact{
	height: auto;
	margin: 10px 0 0 170px;
	font-size: 3em;
	padding: 10px 0 0 170px;
	font-family: Gabriola;	
}

#contact h2, p {
	margin: 10px 0;
}
header p {
	text-align: center;	
	font-size: 1.3em;
}

strong {
	font-size: 1.3em;
}

ul li {
	list-style: none;
	padding: 5px 10px;
	background: url("/images/silk_fabric.jpg") no-repeat;
	border-radius: 5px;
	font-size: 22px;
	text-align: center;
}
li  a {
	text-decoration: none;
	color: #e6e6fa;
}

nav {
	width: 1000px;
	margin: 10px auto;
}

nav ul {
	padding: 0;
}

nav li{
	width: 161px;
	display: inline-block;
	padding: 10px 0;
	font-size: 20px;
}

nav li:not(:first-child) {	
	margin-left: 1px;
}

.clicked, ul li:hover {
	background-image: url("/images/teal1.jpg");
}
/*
.clicked a {
	font-weight: bold;
}
 */
#lower {
	height: 700px;
	margin-top: 50px;
}

#lower ul li {	
	margin-bottom: 40px;
}

#lower ol li {	
	list-style: none;
	padding: 5px;
	font-size: 15px;
	text-align: left;
	margin: 0;
}

aside {
	float: left;
	width: 18%;
}

.aside ul {
	margin: 105px auto;
}

aside ul {
	width: 80%;
	padding: 0 20px;
	margin: 10px auto;
}

ol {
	float: left;
	padding: 0;
	width: 320px;
}

#slideshow {
	width: 640px;
	height: 520px;
	margin: 0 auto;
}

#slideshow p{	
	padding: 20px;
	color: purple;
	margin: 50px auto 10px;
	font-size: 1.4em;
	text-align: center;
}

#images {
	width: 90%;
	margin: auto;
}

#images img {
	margin: 10px .4cm;	
	width: 220px;
}

#lower_text p {
	padding: 20px 80px 0 60px;
	font-size: 18px;
	line-height: 1.5em;
}

#photo {
	margin: 50px;
}

.slide{
	margin:0;
	width: 640px; 
	height:426px;
	position: relative;	
}

.slide img {
	width: 320px;
	height: 426px;
	float: left;
}

#slideshowWindow 
	{
	width:640px;
	height:550px;
	position: relative;
	top: 0;
	left: 40px;
	margin: 0 40px;
	overflow:hidden;
	z-index: 100;
}

#arrow_left {
	position: relative;
	top: 200px;
	left: 5px;
	width: 30px;
	height: 46px;
	z-index: 1000;
}

#arrow_right {
	position: relative;
	top: -400px;
	left: 750px;
	width: 30px;
	height: 46px;	
	z-index: 1000;
}

 #thumbnails {
	width: 800px;
	float: right;
	margin: 10px 0;
}

#thumbnails img {
	height: 106.5px;
	width: 80px;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
}

#thumbnails img:first-child {
	margin-right: 100px;
}

footer {
	width: 1040px;
	margin: 0 auto;
	background: url("/images/silk_fabric.jpg") no-repeat;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}
	
footer p {
	margin: 0;
	padding: 60px;
	color: #e6e6fa;
	text-align: center;
	font-size: 30px;
}

.nav	
	{
	display:block;
	cursor:pointer;
	}
	
@media only screen and (min-width: 150px) and (max-width: 600px) {
	#container {	
	width: 90%;
	}
	header {
	width: 90%;
	padding: 0 10px;
	margin: -30px auto 10px;
	}
	nav {
	width: 100%;
	margin: 10px auto;
	}
	nav ul {
	width: 100%;
	margin: 10px auto;
	}
	nav li{
	width: 90%;
	margin-bottom: 5px;
	}
	#lower {
	height: auto;
	}
	aside {
	width: 100%;	
	}
	#lower ul li {	
	margin-bottom: 10px;
	}
	ol li {
	width: 100%;
	}
	#images img {
	width: 100%;
	}
	/*
	#image_box {
		float: left;
	}
	*/
	aside {
		float: right;
	}
	footer {
		display: none;
	}


}