<div id ="photo">
<img src="images/Breege_Photo.jpg" alt="Breege's Photo" />

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Mauris pharetra pellentesque urna, a porta erat pretium sit amet. 
		Maecenas ac ullamcorper enim. Morbi eget eros in tellus posuere 
		eleifend nec a velit. Nullam felis tortor, faucibus non consequat a, 
		congue at enim. Nullam elit enim, consequat laoreet malesuada et, 
		ornare id elit. Mauris id turpis gravida, gravida leo sed, pharetra mauris. 
		Nulla gravida aliquam magna, in dignissim sapien vehicula sit amet. 
		Sed vel urna vel nunc placerat viverra sed eu urna. Donec a dolor 
		at mauris pharetra sodales. Ut mattis nisi at enim interdum, in 
		feugiat sapien malesuada. Mauris vel purus nec quam bibendum tempor 
		et ut velit. Duis luctus volutpat massa, sit amet molestie risus 
		molestie vitae. Curabitur sollicitudin vestibulum sem, id ultrices 
		diam cursus id. Quisque iaculis dolor porta justo fringilla dictum. 
		Nullam eget purus magna. Maecenas neque lacus, efficitur sed ante ac, 
		eleifend convallis tortor.
	</p>

</div>