
<div id = "images">
	<img src = "images/black_outfit_front_cropped.jpg" alt = "Elaborate Blue Coat" />
	<img src = "images/macnas_boy_cropped.jpg" alt = "Performer at a carnival" />
	<img src = "images/macnas_boy_cropped.jpg" alt = "Performer at a carnival" />
</div>
	
<div id = "lower_text">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Nullam nec sem ac velit tincidunt molestie molestie sit amet tortor. 
		Aliquam imperdiet risus nec nulla feugiat, eget convallis risus ultricies. 
		Nunc laoreet felis vitae arcu ornare, eu pharetra odio commodo. Fusce 
		tincidunt laoreet vestibulum. Aliquam dapibus, neque a adipiscing ornare, 
		augue lectus adipiscing nunc, non semper sem turpis vel justo. 
	</p>							
</div>
	