
<div id = "images">
	<div id="upper_image">
	<div class="inner_image">
	<img src = "images/pink_suit.jpg" alt = "Elaborate Blue Coat" />
	</div>
	<div class="inner_image">
	<img src = "images/blue_coat.jpg" alt = "Performer at a carnival" />
	</div>
	<div class="inner_image">
	<img src = "images/red_coat.jpg" alt = "Performer at a carnival" />
	</div>
	</div>
	
	
	<div id = "lower_text">	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Nullam nec sem ac velit tincidunt molestie molestie sit amet tortor. 
		Aliquam imperdiet risus nec nulla feugiat, eget convallis risus ultricies. 
		Nunc laoreet felis vitae arcu ornare, eu pharetra odio commodo. Fusce 
		tincidunt laoreet vestibulum. Aliquam dapibus, neque a adipiscing ornare, 
		augue lectus adipiscing nunc, non semper sem turpis vel justo. 
	</p>							
</div>
	
</div>
	
